html,
body,
p {
    font-family: 'Lato', sans-serif !important;
    color: #2B2C31;
    font-weight: 500;
}

@font-face {
    font-family: 'Aleo ';
    src: url(/oldassets/fonts/Aleo/Aleo-Bold.otf);

}

@font-face {
    font-family: 'Lato', sans-serif;
    /* src: url(/oldassets/fonts/open-sans/OpenSans-Regular.ttf); */
}

@font-face {
    font-family: 'Lato bold ';
    /* src: url(/oldassets/fonts/open-sans/OpenSans-Bold.ttf); */
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    /* src: url(/oldassets/fonts/Introhead/IntroRust-Base.otf); */
}

.landing-page-heading {
    font-family: 'lato', sans-serif;
    font-weight: 700;
    color: #fff;
}

.landing-text {
    margin-top: 18%;
    line-height: 10em;
}

.landing-mid-heading {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 68px;
    line-height: 1.2em;
}

.landing-line-heading {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1em;
    font-size: 20px;
}


@media(max-width:767px) {

    .landing-text {
        margin-top: 35%;
    }

    .landing-mid-heading {
        font-size: 48px;
    }

}

.main-heading {
    font-size: 48px;
    font-weight: 900;
    color: #EE9251;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width:440px) {
    .main-heading {
        font-size: 36px;

    }
}



.about-heading {
    font-size: 30px;
    font-weight: 900;
    color: #FFC680;
    font-family: 'Montserrat', sans-serif;

}

.about-us p {
    color: #545871;
    font-size: 14px;
    font-family: 'lato', sans-serif !important;
    line-height: 2em;
    letter-spacing: 1px;
}

.btn-regular {
    background-color: #FBAF1A;
    border-radius: 20px;
    border: none;
    width: 150px;
}

.btn-regular:hover {
    background-color: #2B2C31;


}

.btn-regular:active {
    background-color: #545871;
    border: none;
    box-shadow: none !important;

}

.btn-regular:focus {
    background-color: #545871;
    border: none;
    box-shadow: none !important;

}

.img-box {
    width: 100%;
    height: 100%;
}

@media(max-width:992px) {
    .grid-image {
        display: none !important;
    }
}

@media(max-width:600px) {
    .about-us {
        margin-top: -30px;
    }
}

.card-image-service {
    border-radius: 50%;
    width: 80px;
}

.card-title-service {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 22px;
    color: #FBAF1A;
}

.card-service {
    border: none;
    box-shadow: 0px 0px 15px 0.001em #e4e4e49a;
    border-radius: 10px;
}

.card-section-service {
    width: 100%;
    margin-top: 15px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 15px 0.001em #efefef;
}

.card-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-margin-service {
    margin-top: 80px;
}




/* Blog card View */




.card-blog {
    width: 400px;
    height: 120px;

}

.card-blog-img {
    margin-top: 6%;
    width: 65%;
}

.card-blog-content {
    line-height: 18px;
}

.card-blog-content h5 {
    margin-left: -15%;
    font-size: 18px;
    font-weight: 600;
}

.card-blog-content p {
    font-size: 12px;
    margin-left: -15%;
    margin-top: -15px;
    color: #2B2C31 !important;
}

.card-blog-margin {
    margin-top: 40px;
}

@media(max-width:992px) {
    .card-blog {
        width: 300px;
        height: 120px;
    }

    .card-blog-img {
        margin-top: 8%;
        width: 100%;
    }

    .card-blog-content {
        line-height: 18px;
    }

    .card-blog-content h5 {
        margin-left: -12%;
        font-size: 14px;
        font-weight: 600;
    }

    .card-blog-content p {
        font-size: 10px;
        margin-left: -12%;
        margin-top: -15px;
    }

    .card-blog-margin {
        margin-top: 40px;
    }

}

@media(max-width:556px) {

    .card-blog {
        width: 300px;
        height: 130px;
    }

    .card-blog-img {
        margin-top: 1%;
        width: 30%;
    }

    .card-blog-content {
        line-height: 18px;
        margin-left: -60%;
        width: 60%;

    }

    .card-blog-content h5 {
        margin-left: -12%;
        font-size: 14px;
        font-weight: 600;
    }

    .card-blog-content p {
        font-size: 10px;
        margin-left: -12%;
        margin-top: -15px;
    }

    .card-blog-margin {
        margin-top: 40px;
    }
}

.card-blog a {
    color: rgb(209, 54, 64);
    font-size: 12px;

}


/* contact us */

.submit-btn {
    background-color: #862A30;
    border-radius: 20px;
    border: none;

}

.submit-btn:hover {
    background-color: rgb(141, 65, 70);

}

.btn {
    /* font-family: 'Lato'; */

}

.label-content {
    color: #9597A6;
}

.Address p {
    font-weight: 600;
    font-size: 20px;
    color: white;

}

.Address {
    margin-top: 8%;
    margin-bottom: 8%;

}



/* footer */


.footer-main h2,
h4,
ul,
li {
    color: white;
}

.footer-main p {
    color: white !important;
}

.footer-main span {
    color: white !important;
}

.copyright {
    color: white !important;
}

.social-img .fa {
    color: white !important;
    font-size: 28px;
    margin-left: 12px;

}

.fa-heart {
    color: white !important;

}

.send-btn {
    background-color: white;
    border: none;
    color: black;
}

.send-btn:hover {
    background-color: #862A30;
    border: 1px solid white !important;
    color: white !important;
}

.input-subscribe {
    background-color: #efefef;
}

.btn:active {
    background-color: #9597A6 !important;
    border: 1px solid #9597A6 !important;
}

.search-bar {
    border: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
    border-radius: 0 !important;

}

.header-area.header-sticky .search-bar {
    border: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid #3B566E;
    border-radius: 0 !important;

}

.search-bar:hover {
    border: none;
    background: transparent;
    color: #545871;
    border-bottom: 2px solid white;
    border-radius: 0 !important;

}

@media(max-width:991px) {
    .search-bar:hover {

        border-bottom: 2px solid #3B566E;


    }

}

.search-bar:active {
    border: none;
    background: transparent !important;
    color: #545871;
    border-bottom: 2px solid #545871;
    border-radius: 0 !important;

}


.search-bar::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

.search-bar::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

.search-bar:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

.search-bar:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}



.header-area.header-sticky .search-bar::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #3B566E !important;

}

.header-area.header-sticky .search-bar::-moz-placeholder {
    /* Firefox 19+ */
    color: #3B566E !important;
}

.header-area.header-sticky .search-bar:-ms-input-placeholder {
    /* IE 10+ */
    color: #3B566E !important;
}

.header-area.header-sticky .search-bar:-moz-placeholder {
    /* Firefox 18- */
    color: #3B566E !important;
}



.search-btn {
    border: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
    border-radius: 0 !important;

}

.header-area.header-sticky .search-btn {
    border: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid #3B566E;
    border-radius: 0 !important;

}

.search-btn:hover {
    border: none;
    background: white;
    color: white;
    border-bottom: 2px solid white;

}

.search-btn:active {
    border: none;
    background: white !important;
    color: white;
    border-bottom: 2px solid white;

}

.fa-search {
    color: white !important;
}

.header-area.header-sticky .fa-search {
    color: #3B566E !important;
}

/* @media(max-width:992px)
{
    .search-bar
    {
        display: none !important;
    }
    .search-btn
    {
        display: none !important;
    }
} */
.header-area.header-sticky {
    background-color: white !important;
    z-index: 1021 !important;
}

.header-area.header-sticky .nav li a :hover {
    color: white !important;
}





/* login page code start here */

.login-box {
    background-color: white !important;
    margin-top: -14%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #4747477a;

}

@media(max-width:575px) {
    .login-box {

        margin-top: -130%;
    }

}

.login-box ul li {
    color: rgb(133, 133, 133);
    display: inline;
    font-weight: 600;
}

.login-box span {
    color: rgb(133, 133, 133);

}

.login-box p {
    color: rgb(133, 133, 133);

}

.login-box ul li:hover {
    color: #FBAF1A;
    display: inline;
    font-weight: 600;
    border-bottom: 2px solid #FBAF1A;
}

.login-box ul li:active {
    color: #FBAF1A;
    display: inline;
    font-weight: 600;
    border-bottom: 2px solid #FBAF1A;
}

.login-img {
    width: 300px;
    position: absolute;
    margin-top: -35%;
}

@media(max-width:575px) {
    .login-img {

        margin-top: -90%;
    }

}

.forgot-text a {
    font-size: 12px;
    color: #3C8872;
}

@media(max-width:575px) {
    .forgot-text {
        font-size: 12px;
        padding-left: 100px;

    }
}

.login-btn {
    background-color: #3C8872;
    border: none;
    border-radius: 10px;
    padding: 0.6rem 0.9rem;
    font-weight: 600;
}

.login-icon {
    font-size: 24px;
    margin-left: -60px;
}

.login-icon .fa {
    color: black !important;
    margin-left: 44px;

}

.login-box .form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid #707070;
    border-radius: 0;
}

.login-box .input-group .fa {
    color: #3C8872 !important;


}

.login-box .input-group-btn .reveal {
    background: transparent;
    border-bottom: 2px solid #707070;
    border-radius: 0;
    margin-left: -2px;
}

.login-box .input-group-btn .reveal:active {
    background: none !important;
    border: none !important;
    border-style: none !important;
}


.login-box .input-group-btn .reveal1 {
    background: transparent;
    border-bottom: 2px solid #707070;
    border-radius: 0;
    margin-left: -2px;
}

.login-box .input-group-btn .reveal1:active {
    background: none !important;
    border: none !important;
    border-style: none !important;
}

.warning {
    color: red !important;
    font-size: 14px;
}

.login-btn:hover {
    background-color: rgb(42, 102, 85) !important;
}

.hero {
    background: #FF6450;
    background-image: linear-gradient(135deg, #fe9124af 0%, #FFB000 100%);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 70px 50px;
    background-attachment: fixed;
    min-height: 300px;
}

.hero__container {
    position: relative;
    max-width: 1120px !important;
    margin: 0 auto;
    padding: 60px 0 0;
}

.hero__title {
    margin: 60px 0 0;
    padding: 0;
    text-indent: -3px;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    cursor: default;
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    .hero__title {
        margin: 50px 0;
        text-align: center;
    }
}

.topLeftRounded {
    position: absolute;
    fill: #eff3f6;
    margin-top: -100px;
    z-index: 9;
    transform: scaleX(-1);
}

.login-btn:focus {
    box-shadow: none !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.btn:active {
    outline: none;
}

.btn:focus {
    outline: none;
}